nav {
  display: flex;
  padding: 5px;
  width: 100vw;
  box-sizing: border-box;
  justify-content: space-between;
  color: white;
  background-color: #323031;
  font-family: 'Merriweather', serif;
  
}

form {
  /* min-width: 275px; */
  margin: 20px auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  font-family: 'Merriweather', serif;
  font-size: 25px;
}

.form {
  height: 97vh;
  background-size: 100% 100%;
  width: 500px;
  margin: 0 auto;
  padding: 0;
  border-style: solid;
  border-color:  #d2d2cf;
  background-color:  #323031;
  /* background-image: url(https://images.pond5.com/self-help-animated-word-cloud-footage-075582625_prevstill.jpeg); */
}

#benefitsTextarea {
  border-color: #323031;
  height: 40vh;
  width: 400px;
}

.habitDurationTextarea {
    border-color: #323031;
    height: 5vh;
    width: 400px;
}


button {
  margin:20px auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Merriweather', serif;
  font-size: 25px;
  border-style: solid;
  color: black;
  background-color: #d2d2cf;
  width: 300px;
}

button:hover {
  background-color: red;
}



.formButton {
  margin: 10px 10px;

}

h1 {
  font-family: 'Marck Script', cursive;
  text-align: center;
  font-size: 45px;
  /* text-shadow: 2px 2px white; */
  margin-top: auto;
}

h3 {
  font-family: 'Marck Script', cursive;
  text-align: center 
}

h4 {
  font-size: 40px;
  color:  #d2d2cf;
  font-family: 'Marck Script', cursive;
  text-decoration: none;
}
label {
  color:  #d2d2cf;
}

.home {
  height: 50vh;
  margin-top: -50px;
  vertical-align: middle;
  background-image: url(https://cdn.psychologytoday.com/sites/default/files/field_blog_entry_images/2017-09/canstockphoto31262597.jpg);
  background-size: 100% 100%;
  background-color: #e2e2df;
  border-style: solid;
  border-color: #828a95;
  width: 600px;
  margin: 0 auto;
  padding: 50px 50px 50px 50px;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: flex-end;
}

body {
  background-color: #d2d2cf;
  margin: 0 auto;
  padding: 0; 
}

.footer {
  position: absolute;
  bottom: -50px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.list {
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 40px;
  height: 97vh;
  width: 500px;
  margin: auto;
  overflow: scroll;
  border-style: solid;
  border-color:  #323031;
  background-color: #d2d2cf;
}

.list:hover {
  text-shadow: black;
}

.footer h6 {
margin: 0;
}

.benefit {
  flex-direction: column;
  justify-content: space-between;
}

.habit, 
.duration, 
.benefits {
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 25px;
}

.image {
  min-height: 300px;
  min-width: 100px;
}

.imageContainer {
  text-align: center;
}

progress {
  margin: auto;
  align-items: center;
}

#image {
  border-color: #323031;
  height: 5vh;
  width: 400px;
}

img {
 width: 100px 100px;
 height: 30vh;
 justify-content: auto;
 border-style: solid;
border-color: #323031;
align-items: center;
}

.searchBar {
  margin-bottom: 40px;
  width: 300px;
  height: 50px;
  border-style: solid;
  border-color: #323031;
}

.searchPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
}

.allHabits {
  text-decoration: underline;
}



@media only screen and (max-width: 600px) {
  body {
    background-color: #335C67;
  }

  .home {
    background-size: 100px px;
    width: 400px;
    height: 30vh;
  }

  h1 {
    margin-top: -40px;
    font-size: 40px;
  }
  button {
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    justify-content: flex-end;
    border-style: solid;
    border-color:  #323031;
  }

  .form {
    background-color:  #335C67;
  }

  .list {
    font-size: 40px;
    background-color:  #335C67;
  }

  .allHabits {
    margin-top: 10px;
  }
}

@media only screen and (min-width: 1024px) {
body {
    background-color:blue;
  }
}






