nav {
  display: flex;
  padding: 5px;
  width: 100vw;
  box-sizing: border-box;
  justify-content: space-between;
  border-bottom: 1px solid #772E25;
  background-color: #EDDDD4;
  color: #772E25;
  font-family: 'Marck Script', cursive;
  
}

link {
  color: #772E25;
}

form {
  min-width: 275px;
  margin: 20px auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  text-shadow: 2px 2px white;
  font-family: 'Marck Script', cursive;
  font-size: 25px;
  background-image: url();
}

.form {
  height: 100vh;
  background-image: url(https://i.pinimg.com/originals/7b/6b/84/7b6b84eb481693cd5b0429d67370a015.jpg);
  background-size: 100% 100%;
}


button {
  width: 50vw;
  min-width: 275px;
  margin: 20px auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Marck Script', cursive;
  color:rgb(243, 201, 201);
  font-size: 25px;
  border-style: solid;
  border-color:rgb(58, 4, 4 );
  color:rgb(58, 4, 4 );
}

button:hover {

}

h1 {
  color: black;
  font-family: 'Marck Script', cursive;
  text-align: center;
  text-shadow: 2px 2px white;
  font-size: 50px;
}

h3 {
  font-family: 'Marck Script', cursive;
  text-align: center 
}

h4 {
  font-size: 50px;
}

.list {
  text-align: center; 
  font-family: 'Marck Script', cursive;
  height: 100vh;
  background-image: url(https://i.pinimg.com/736x/fc/d7/56/fcd756d32d9b49d911d936b57b6b339c.jpg);
  background-size: 100% 100%;
  font-size: 35px;
}

.home {
  height: 100vh;
  background-color: #ecdbab;
  background-image: url(https://hips.hearstapps.com/ghk.h-cdn.co/assets/16/43/1477595564-relaxing-sunset.jpg);
  background-size: 100% 100%;
}

input {
  color:rgb(20, 7, 7)
}

myHabits {
  text-align: center; 
  font-family: 'Marck Script', cursive;
}





