nav {
  display: flex;
  padding: 5px;
  width: 100vw;
  box-sizing: border-box;
  justify-content: space-between;
  color: white;
  background-color: #323031;
  font-family: 'Marck Script', cursive;
  
}

form {
  min-width: 275px;
  margin: 20px auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  text-shadow: 2px 2px white;
  font-family: 'Marck Script', cursive;
  font-size: 25px;
}

.form {
  height: 100vh;
  background-size: 100% 100%;
  width: 600px;
  margin: 0 auto;
  padding: 0;
  border-style: solid;
  border-color:  #323031;
}


button {
  margin:20px auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Marck Script', cursive;
  font-size: 25px;
  border-style: solid;
  color: black;
  background-color: #d2d2cf;
}

h1 {
  font-family: 'Marck Script', cursive;
  text-align: center;
  font-size: 45px;
  text-shadow: 2px 2px white;
}

h3 {
  font-family: 'Marck Script', cursive;
  text-align: center 
}

h4 {
  font-size: 50px;
}

.home {
  height: 50vh;
  margin-top: -50px;
  vertical-align: middle;
  background-image: url(https://cdn.psychologytoday.com/sites/default/files/field_blog_entry_images/2017-09/canstockphoto31262597.jpg);
  background-size: 100% 100%;
  background-color: #e2e2df;
  border-style: solid;
  border-color: #e2cfc4;
  width: 600px;
  margin: 0 auto;
  padding: 50px 50px 50px 50px;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: flex-end;
  


}


body {
  background-color: #d2d2cf;
  margin: 0 auto;
  padding: 0; 
}

.footer {
  position: absolute;
  bottom: -50px;
  text-align: center;
  width: 100%;
  margin: 0 auto;

}

.footer h6 {
margin: 0;
}

.benefit {
  flex-direction: column;
  justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  .home {
    background-color: red;
  }
  button {
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  }
}

@media only screen and (min-width: 1024px) {
  .home {
    background-color:blue;
  }
}






